<div class="sidebar">
    <div class="sidebar-header">

        <h2>Finance Tracker</h2>
    </div>
    <p>MENU</p>
    <ul>
    <li class="<%= title === 'Dashboard' ? 'active' : '' %>"><a href="/dashboard" >Dashboard</a></li>
    <li class="<%= title === 'Transactions' ? 'active' : '' %>"><a href="/transactions" >Transactions</a></li>
    <li class="<%= title === 'Reports' ? 'active' : '' %>"><a href="/reports" >Reports</a></li>
    <li class="<%= title === 'Goals' ? 'active' : '' %>"><a href="/goals" >Goals</a></li>
</ul>
<p>SETTINGS</p>
<ul>
    <li class="<%= title === 'Settings' ? 'active' : '' %>"><a href="/settings" >Settings</a></li>
    <li class="<%= title === 'Help' ? 'active' : '' %>"><a href="/help" >Help</a></li>
    <li class="<%= title === 'About' ? 'active' : '' %>"><a href="/about" >About</a></li>
</ul>
<p>ACCOUNT</p>
<ul>
    <li class="<%= title === 'Profile' ? 'active' : '' %>"><a href="/profile" >Profile</a></li>
    <li class="<%= title === 'Logout' ? 'active' : '' %>"><a href="/logout" >Logout</a></li>
</ul>
</div>