<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <main>
    <div class="profile">
        <%- include ('partials/sidebar') %>
        <div class="main_content"> 
            <div class="header">
                <h1>Edit Profile</h1>
                
                <div class="user-info">
                    <div class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bell" viewBox="0 0 24 24">
                            <path d="M18 8a6 6 0 0 0-12 0c0 7-3 9-3 9h18s-3-2-3-9"></path>
                            <path d="M13.73 21a2 2 0 0 1-3.46 0"></path>
                        </svg>
                    </div>
                    <p>User: <%= user.email %></p>
                </div>
            </div>
            <div class="account-form">
                <h2>Change Your Password</h2>
                <form action="/ChangePassword" method="POST">
                    <input type="hidden" name="user_id" value="<%= user.id %>">
                    <div class="form-group">
                        <label for="old_password">Old Password:</label>
                        <input type="password" id="old_password" name="old_password">
                    </div>
                    <div class="form-group">
                        <label for="new_password">New Password:</label>
                        <input type="password" id="new_password" name="new_password">
                    </div>
                    <div class="form-group">
                        <label for="confirm_password">Confirm New Password:</label>
                        <input type="password" id="confirm_password" name="confirm_password">
                    </div>
                    <div class="form-group">
                        <button type="submit">Change Password</button>
                        <p class="return-message">
                    <% if (!message) { %>
                        
                    <% } else { %>
                        <%= message %>
                    <% } %>
                </p>
                    </div>
                </form>
            </div>
        
        </div>
    </div>
</main>
</body>
</html>
