<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <main>
        <div class="transactions">
            <%- include ('partials/sidebar') %>
            <div class="main_content"> 
                <div class="header">
                    <h1><%= title %></h1>
                    <div class="user-info">
                        <div class="icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bell" viewBox="0 0 24 24">
                                <path d="M18 8a6 6 0 0 0-12 0c0 7-3 9-3 9h18s-3-2-3-9"></path>
                                <path d="M13.73 21a2 2 0 0 1-3.46 0"></path>
                            </svg>
                        </div>
                        <p>User: <%= user.email %></p>
                    </div>
                </div>
                <div class="transactions-form">
                    <h2>Add Income / Expense</h2>
                    <form action="/transactions/add" method="POST">
                        <div class="form-group">
                            <label for="type">Type</label>
                            <select name="type" id="type" onchange="changeTypeBg()">
                                <option value="income">Income</option>
                                <option value="expense">Expense</option>
                            </select>
                            <script>
                            function changeTypeBg() {
                                const select = document.getElementById('type');
                                if (select.value === 'income') {
                                    select.style.backgroundColor = "#0C7C59";

                                    select.style.color = 'white';
                                } else if (select.value === 'expense') {
                                    select.style.backgroundColor = '#A30B37';
                                    select.style.color = 'white';
                                }
                            }
                            // Set initial background on page load
                            document.addEventListener('DOMContentLoaded', changeTypeBg);
                            </script>
                        </div>
                        <div class="form-group">

                            <label for="amount">Amount</label>
                            <input type="number" name="amount" id="amount">
                        </div>
                        <div class="form-group">

                            <label for="">Category</label>
                            <select name="category" id="catagory">
                                <option value="food" selected>Food</option>
                                <option value="drink">Drink</option>
                                <option value="transport">Transport</option>
                                <option value="shopping">Shopping</option>
                                <option value="entertainment">Entertainment</option>
                                <option value="health">Health</option>
                                <option value="other">Other</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="description">Description</label>
                            <input type="text" name="description" id="description">
                        </div>
                        <div class="form-group">
                            <button type="submit">Add</button>
                            <p class="return-message">
                        <% if (!message) { %>
                            
                        <% } else { %>
                            <%= message %>
                        <% } %>
                            </p>
                        </div>
                    </form>
                
                </div>
                <div class="transactions-table">
                    <table>
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Type</th>
                                <th>Category</th>
                                <th>Amount</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% transactions.forEach(function(transactions) { %>
                                <tr>
                                    <td><%= transactions.created_at %></td>
                                    <td><%= transactions.type %></td>
                                    <td><%= transactions.category %></td>
                                    <td><%= transactions.amount %></td>
                                    <td><%= transactions.description %></td>
                                </tr>
                            <% }); %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
</body>
</html>